.section-btn{
    padding: .4rem;
    border: .15rem solid white;
    border-radius: .3125rem;
}

.section-btn.offer{
    background-color: yellow;
    color: purple;
}

.section-btn.submit{
    background-color: green;
    color: orange;
}

.section-btn.review{
    background-color: blue;
    color: white;
}