  /*----- TO SYLE THE CONTACT FORM ----*/
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    padding-top: 22rem;
  }

  .contact-heading {
    margin-top: 2rem;
  }

  .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #fff, yellow);
    padding: .5rem;
    margin-top: -3rem;
    border-radius: 1.25rem;
    border: 0.3125rem solid rgb(255, 100, 0);
  }
  .contact-input {
    border-radius: .3125rem;
    background-color: var(--primary-orange);
    color: var(--primary-dark);
  }

  .submit-btn-wrapper {
    margin: 1rem;
  }
  .submit-btn {
    border: .1675rem solid var(--primary-dark);
  }

  .form h1 {
    color: rgb(255, 100, 0)
  }

  /*-FOR THE TEXTAREA FOR THE CONTACT FORM--*/

label,
textarea {
    font-size: 1rem;
    letter-spacing: 1px;
}
textarea {
    background-color: var(--primary-orange);
    color: var(--primary-dark);
    padding: 10px;
    max-width: 100%;
    line-height: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

.label {
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}