
  /*---------- DROPDOWN NAVBAR LINKS -----------*/
  nav {
    z-index: 2;
  }
  .logo {
    width: 16.25rem;
  }

  nav a.nav-link {
    font-size: 0.8rem;
    letter-spacing: 0.0375rem;
    cursor: pointer;
  }
  
  nav ul li {
    text-transform: uppercase;
  }
  
  .navbar-nav li a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    border-top: 0.1875rem solid var(--primary-dark);
  }

  .navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;
    height: 4rem !important;
    background: url(C:\Users\thomp\OneDrive\Desktop\second-react1\src\components\Navbar\office.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: .625rem;
  }

  .navbar-brand:hover{
    color: blue;
  }
  
  .navbar-nav li a.active,
  .navbar-nav li a.active:focus {
    border-top: 0.1875rem solid var(--primary-orange);
  }
  
  .navbar-nav li a:hover {
    border-top: 0.1875rem solid var(--primary-orange);
  }

  /*----------------- HEADER -------------------*/

  .header-wrapper {
    position: relative;
    background: url(C:\Users\thomp\OneDrive\Desktop\second-react1\src\grisKitten.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
  }

  .contact-icons {
    transform: scale(3);
    padding: 0.5rem 2rem;
  }

  .contact-icons.purple {
    color: var(--primary-purple);
  }

  .contact-icons.purple:hover {
    transform: scale(4);
  }

  .contact-icons.blue {
    color: blue;
  }

  .contact-icons.blue:hover {
    transform: scale(4);
  }

  .contact-icons.white {
    color: blue;
  }

  .contact-icons.white:hover {
    transform: scale(4);
  }

  .contact h1 span {
    color: white;
  }
  
  .main-info {
    font-family: 'Roboto', sans-serif;
    display: flex;
    top: -7rem;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main-info h1 {
    color: var(--primary-purple);
    text-transform: uppercase;
  }

  /*-pixels to rems NinjaUnits--- TYPED TEXT----*/
  .typed-text {
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--primary-white);
  }
  /*--------------- HEADER MAIN DESCRIPTION BUTTON -----------------*/
  .btn-main-description {
    text-decoration: none;
    margin-top: 11rem;
    padding: .6rem;
    border: 2px solid var(--primary-purple);
    background-color: var(--primary-yellow);
    color: var(--primary-purple);
    border-radius: 1.25rem;
    text-transform: uppercase;
  }

  .btn-main-description:hover {
    color: var(--primary-yellow);
    border: 2px solid var(--primary-orange);
    background-color: var(--primary-purple);
    font-weight: bold;
  }

  .bold-text {
    font-weight: 800;
  }

/*----------------- TEXTAREA -------------------*/

/*
label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}
*/

.about-deterrence {
  background-color: green;
  color: white;
}

.label {
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}

header h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px
}

p {
  margin: 0;
}

.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
  clear: right;
}

.bold {
  font-weight: 800;
}

.right {
  float: right;
}

.lg {
  height: 10px;
}

.lg, .md {
  background-color: black;
  border: 0;
}

.md {
  height: 5px;
}

.sm-text {
  font-size: 0.85rem;
}

.units-info h1 {
  margin: -5px -2px;
  overflow: hidden;
}

.units-info span {
  font-size: 1.2em;
  margin-top: -7px;
}

.indent {
  margin-left: 1em;
}

.dbl-indent {
  margin-left: 2em;
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}

.note {
  font-size: 0.6rem;
  text-indent: -8px;
  padding: 0 8px;
  margin: 5px 0;
}

/* -------- FOR THE DET SPECS COMPONENT ----- */

.main-section {
  border-width: 5px;
  border-color: white;
  border-style: solid;
  padding-bottom: 3px;
} 

#main-doc {
  margin-left: 250px;
  display: grid;
  grid-template-rows: 400px 400px;
  grid-template-columns: 300px 300px 300px;
  grid-template-areas: ". #Nuclear_And_SDI_Units #Treaty_Chart"
                         ". #Score_Sheet #Complete_Turns";
}

#Nuclear_And_SDI_Units {
  color:green;
  font-size: 14pt;
  font-family: sans-serif;
  background-color: yellow;
}

#Treaty_Chart {
  color: yellow;
  background-color:blue;
}

#Score_Sheet {
  color: purple;
  background-color: lime;
}

#Complete_Turns {
  color:yellow;
  background-color: red;
}

#Points_Types {
  color: cyan;
  background-color:purple;
}

#Code_Examples {
  color: purple;
  background-color: darkorange;
}

/*----------------- FOOTER -------------------*/

  footer {
    color: white;
    background-color: rgb(41, 34, 34);
    margin-bottom: 10px;
    text-align: center;
  }

  .footer {
    background-color: hsl(40 80% 40%);
  }
  #footerline {
    border-bottom: 3px red solid;
  }

  h2, h6 {
  text-align: center;
  color: white;
  }

  /*-------PARTICLES--------*/

  .tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }