
  /*---------- DROPDOWN NAVBAR LINKS -----------*/
  nav {
    z-index: 2;
  }
  .logo {
    width: 16.25rem;
  }

  nav a.nav-link {
    font-size: 0.8rem;
    letter-spacing: 0.0375rem;
    cursor: pointer;
  }
  
  nav ul li {
    text-transform: uppercase;
  }
  
  .navbar-nav li a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    border-top: 0.1875rem solid var(--primary-dark);
  }

  .navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;
    height: 4rem !important;
    background: url(C:\Users\thomp\OneDrive\Desktop\second-react1\src\components\Navbar\office.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: .625rem;
  }

  .navbar-brand:hover{
    color: blue;
  }
  
  .navbar-nav li a.active,
  .navbar-nav li a.active:focus {
    border-top: 0.1875rem solid var(--primary-orange);
  }
  
  .navbar-nav li a:hover {
    border-top: 0.1875rem solid var(--primary-orange);
  }

  /*----------------- HEADER -------------------*/

  .header-wrapper {
    position: relative;
    background: url(C:\Users\thomp\OneDrive\Desktop\second-react1\src\grisKitten.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: -8rem;
  }

  .contact-icons {
    transform: scale(3);
    padding: 0.5rem 2rem;
  }

  .contact-icons.purple {
    color: var(--primary-purple);
  }

  .contact-icons.purple:hover {
    transform: scale(4);
  }

  .contact-icons.blue {
    color: blue;
  }

  .contact-icons.blue:hover {
    transform: scale(4);
  }

  .contact h1 span {
    color: white;
  }
  .main-info {
    font-family: 'Roboto', sans-serif;
    display: flex;
    top: -7rem;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main-info h1 {
    color: var(--primary-purple);
    text-transform: uppercase;
  }

  /*-pixels to rems NinjaUnits--- TYPED TEXT----*/
  .typed-text {
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--primary-white);
  }
  /*--------------- HEADER MAIN DESCRIPTION BUTTON -----------------*/
  .btn-main-description {
    text-decoration: none;
    margin-top: 11rem;
    padding: .6rem;
    border: 2px solid var(--primary-purple);
    background-color: var(--primary-yellow);
    color: var(--primary-purple);
    border-radius: 1.25rem;
    text-transform: uppercase;
  }

  .btn-main-description:hover {
    color: var(--primary-yellow);
    border: 2px solid var(--primary-orange);
    background-color: var(--primary-purple);
    font-weight: bold;
  }

  .bold-text {
    font-weight: 800;
  }

/*----------------- FOOTER -------------------*/

  footer {
    color: white;
    background-color: rgb(41, 34, 34);
    margin-bottom: 10px;
    text-align: center;
  }

  .footer {
    background-color: hsl(40 80% 40%);
  }
  #footerline {
    border-bottom: 3px red solid;
  }

  h2, h6 {
  text-align: center;
  color: white;
  }

  /*-------PARTICLES--------*/

  .tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }