/* need to fix the linking on the icons, links are there, just not matching up with cursor */
.contact {
  margin-top: 10rem;
  padding-top: 22rem;
}
@media(max-width: 400px){
  .contact {
    margin-bottom: -5rem;
  }
}

.greeting {
  margin-bottom: 2rem;
}

.icon-layout {
  margin-top: 1rem;
  padding: 1rem 5rem;
}
@media(max-width: 500px){
  .icon-layout{
    padding: 2rem;
  }
}

@media(max-width: 400px){
  .icon-layout{padding: 2rem;}
}

.contact-icons {
    transform: scale(3);
  }

  .contact-icons.purple {
    color: var(--primary-purple);
  }

  .contact-icons.purple:hover {
    color: var(--primary-orange);
    transform: scale(4);
  }

  .contact-icons.blue {
    color: blue;
  }

  .contact-icons.blue:hover {
    color: var(--primary-red);
    transform: scale(4);
  }

  .contact-icons.orange {
    color: var(--primary-orange);
  }

  .contact-icons.orange:hover {
    color: var(--primary-purple);
    transform: scale(4);
  }

  .contact h1 span {
    color: white;
  }