/*-------------- FOOTER ---------------*/

  .footer-bottom {
    color: white;
    background-color: rgb(41, 34, 34);
    text-align: center;
    border-radius: 1.25rem;
  }

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: hsl(40 80% 40%);
    margin-bottom: -1rem;
    border: 2px solid brown;
    border-radius: 1.25rem;
  }

  @media(max-width: 400px){
    .top{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 1.5rem;
    }
    .contact-icons.brown{
      padding-right: 1.25rem;
    }

    h6 {
      padding-right: 2.25rem;
    }
  }

  .coffee-cup-wrapper {
    padding-top: 1.75rem;
  }
  
  #footerline {
    border-bottom: 5px var(--primary-orange) solid;
  }

  h2, h6 {
    margin-top: 1.5rem;
    text-align: center;
    color: var(--primary-white);
  }

  .contact-icons.brown {
    color: var(--primary-brown);
  }