@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: #212529;
  --primary-yellow: rgb(215, 215, 54);
  --primary-red: #ef4035;
  --primary-purple: rgb(255, 0, 255);
  --primary-hover-red: #f33501;
}

body {
  font-family: 'Roboto', sans-serif;
}