/* ------ MAIN CSS ------------ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: #212529;
  --primary-yellow: rgb(215, 215, 54);
  --primary-red: #ef4035;
  --primary-purple: rgb(255, 0, 255);
  --primary-hover-red: #f33501;
  --primary-brown: brown;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-dark);
}

.bold-text {
  font-weight: 800;
}

.about-deterrence {
  background-color: green;
  color: white;
}

.text-center{
  text-align: center;
}

/*---- MAIN DESCRIPTION BUTTON -----------*/
  
.btn-main-description {
  text-decoration: none;
  margin-top: 2rem 0;
  padding: .5rem;
  border: 0.3125rem solid var(--primary-purple);
  background-color: var(--primary-yellow);
  color: var(--primary-purple);
  border-radius: 1.25rem;
  text-transform: uppercase;
}

.btn-main-description:hover {
  color: var(--primary-yellow);
  border: 2px solid var(--primary-orange);
  background-color: var(--primary-purple);
  font-weight: bold;
}

.popup-btn-group h1{
  color: var(--primary-orange);
}

.popup-btn-group {
  display: flex;
  height: 7rem;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 91, 161);
  padding: 2rem;
}

@media(max-width: 400px){
  .popup-btn-group{
    padding: 4rem;
    display: flex;
    height: 21rem;
    flex-direction: column;
    justify-content: center;
    margin-top: -2rem;
  }
  .btn-main-description{
    padding: .6rem;
    color: var(--primary-dark);
  }
}