/* ------ MAIN CSS ---------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: #212529;
  --primary-yellow: rgb(215, 215, 54);
  --primary-red: #ef4035;
  --primary-purple: rgb(255, 0, 255);
  --primary-hover-red: #f33501;
  --primary-brown: brown;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media(max-width: 400px){
  #root {
    margin-right: 1rem;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-dark);
  height: 100vh;
}
@media(max-width: 400px){
  body {
    margin-right: 3.5rem;
  }
}

.bold-text {
  font-weight: 800;
}

.about-deterrence {
  background-color: green;
  color: white;
}

.text-center{
  text-align: center;
}

/*---- MAIN DESCRIPTION BUTTON -----------*/
  
.btn-main-description {
  text-decoration: none;
  margin-top: 2rem 0;
  padding: .5rem;
  border: 0.3125rem solid var(--primary-purple);
  background-color: var(--primary-yellow);
  color: var(--primary-dark);
  border-radius: 1.25rem;
  text-transform: uppercase;
}

.btn-main-description:hover {
  color: var(--primary-yellow);
  border: 2px solid var(--primary-orange);
  background-color: var(--primary-purple);
  font-weight: bold;
}
.contact-btn-wrapper {
  padding: 0 1.5rem;
}
.popup-btn-group {
  display: flex;
  height: 10rem;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient( rgb(35, 8, 92), rgb(91, 91, 161));
  padding: 2.5rem;
  border: 2px solid rgb(35, 8, 92);
  border-radius: 1.25rem;
}

@media(max-width: 400px){
  .popup-btn-group{
    padding: .7rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.25rem 0;
  }
}

.button-header {
  color: rgb(167, 67, 39);
  font-weight: bold;
  background-color: rgb(183, 172, 87);
  text-align: center;
  border: 2px solid rgb(35, 8, 92);
  border-radius: 1.25rem;
  border-bottom: none;
}

.popup-btn-group h1{
  color: var(--primary-orange);
}
@media(max-width: 750px){
  .popup-btn-group h1{
    display: relative;
  }

  .contact-btn-wrapper {
    padding: .6rem;
    margin: -.4rem;
  }

  .btn-main-description{
    padding: .7rem;
    color: var(--primary-dark);
  }

  #treaty{
    margin-right: 3.5rem;
  }
  
  #det-card {
    margin-left: 3.2rem;
    padding-left: 0;
  }
}
@media(max-width: 400px){
  body {
    margin-left: .2rem;
  }
  #score{
    margin-right: 0;
  }
  #det-card{
    margin-left: 0;
  }
  .button-header{
    border-bottom: none;
  }
  #treaty{
    margin-left: 3rem;
  }
}